* {
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
}
:root {
    --black-700: #000;
    --secondary: #FA8305;
    --blueGradiant: #3B2A9F;
    --box_bg: #1C140F;
    --primary-100: #5141AA;
}
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik-VariableFont_wght.ttf);
}
/* ----- */
body{
    background-color: var(--blueGradiant);
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
/* ----- */
header{
    height: 100px;
  }
  .logo{
    font-weight: 800;
    font-size: 29px;
    color: white;
    margin-top: 25px;
    margin-left: 58px;
    line-height: 44px;
  }
  header .menu{
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 637px;
    position: absolute;
    top: 32px;
    right: 60px;
    line-height: 44px;
  }
  header .menu .one a{
    margin: 4%;
    color: white;
  }
  header .menu .two{
    background-color: var(--secondary);
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 19.5px;
  }
  header .activeLink{
    width: 65px;
    height: 6px;
    position: absolute;
    top: 73px;
    left: 925px;
  }
   header .activeLink > div{
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 20px;
    margin: 0 5%;
  }
  header .activeLink .first{
    background-color: var(--secondary);
    width: 75%;
  }
  header .activeLink .seconde{
    width: 15%;
    background-color: var(--secondary);
  }

.path{
    width: 425px;
    margin-top: 114px;
    margin-left: 110px
}
.path .one i{
  margin: 0 10px;
}
.path .two{
    margin-top: 38px;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
}
.path .three{
    margin-top: 25px;
    font-size: 15px;
    line-height: 32px;
}
.path .four{
    width: 176px;
    margin-top: 25px;
    background-color: var(--secondary);
    border-radius: 40px;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 19px;
}
.path .four i{
    margin-left: 18px;
}

.bigimage{
    height: 656px;
    position: absolute;
    top: 121px;
    left: 701px;
    right: 0;
}
.bigimage img{
    width: 100%;
    height: 100%;
}

.work{
    margin: 0 110px;
    margin-top: 288px;
}
.work .why{
    font-weight: 600;
    font-size: 25px;  
}
.work .lorems{
    margin-top: 64px;
}
.work .lorems > div {
    background-color: var(--box_bg);
    width: 32%;
    margin: 0 1%;
    float: left;
    padding: 64px 37px;
    border-radius: 20px;
}
.work .lorems > div .one a{
    padding: 7px 25px;
    font-size: 14px;
    border-radius: 8px;
}
.work .lorems > div .two{
    margin-top: 25px;
}
.work .lorems > div .two h1{
    font-weight: 600;
    font-size: 20px;
}
.work .lorems > div .two p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 27px;
    text-align: justify;
}

.LoremImg{
    clear: both;
    width: 100%;
    background-color: var(--box_bg);
    height: 603px;
}
.LoremImg > div{
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}
.LoremImg .one {
    position: relative;
}
.LoremImg .one div{
    position: absolute;
    top: 113px;
    bottom: 0;
    left: 105px;
    right: 105px;
}
.LoremImg .one div img{
  border-radius: 24px 24px 0px 0px;
}
.LoremImg .two div{
    margin-top: 134px;
    margin-right: 203px;
}
.LoremImg .two div h1{
    font-weight: 500;
    font-size: 16px;
}
.LoremImg .two div p{
    margin-top: 14px;
}
.LoremImg .one img{
    width: 100%;
    height: 100%;
}

.OurTeam{
  clear: both;
  margin: 0 85px;
  margin-top: 148px;
}
.OurTeam .Our{
    font-weight: 600;
    font-size: 25px;
}
.OurTeam .box{
    margin-top: 55px;
}
.OurTeam .box > div{
    border-radius: 20px;
    text-align: center;
    width: 22.5%;
    margin: 0 1.66%;
    float: left;
    padding: 0 93px;
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: var(--box_bg);
}
.OurTeam .box > div .one{
    width: 123px;
    height: 123px;
}
.OurTeam .box > div .one img{
    width: 100%;
    height: 100%;
}

.Stay{
    color: #FFFFFF;
    position: absolute;
    top: 2780px;
    left: 136px;
    right: 136px;
  }
  .Stay .Lorem{
    width: 545px;
  }
  .Stay .Lorem h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 56px;
  }
  .Stay .Lorem p{
    margin-top: 32px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }
  .Stay .input{
    background-color: var(--box_bg);
    margin-top: 74px;
    height: 189px;
    position: relative;
    border-radius: 15px;
  }
  .Stay .input .one{
    position: absolute;
    top: 40px;
    left: 56px;
    right: 478px;
  }
  .Stay .input .one h1{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
  }
  .Stay .input .one p{
    margin-top: 10px;
    font-weight: 5400;
    font-size: 17px;
    line-height: 25px;
  }
  .Stay .input .two{
    position: absolute;
    top: 71px;
    right: 50px;
    color: #898989;
    background-color: #FFFFFF;
    width: 381px;
    border-radius: 8px;
  }
  .Stay .input .two{
    padding: 6px;
  }
  .Stay .input .two  form input{
    margin-left: 20px;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
  .Stay .input .two  form button{
    background-color: var(--secondary);
    padding: 10px 17px;
    border: none;
    border-radius: 8px;
    margin-left: 90px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 13px;
    line-height: 19.5px;
    text-align: center;
  }

  footer{
    width: 100%;
   position: absolute;
   top: 3328px;
   background-color: rgba(7, 7, 7, 1);
   color: #FFFFFF;
 }
 footer .all{
   margin-top: 79px;
   margin-bottom: 29px;
 }
 footer .all .menu{
   margin: 0 110px;
 }
 footer .all .menu div{
   float: left;
   margin:0 3.3%;
   box-sizing: border-box;
 }
 footer .menu .lego{
   font-size: 16px;
   line-height: 24px;
   font-weight: 300;
 }
 footer .menu .about ul{
   font-weight: 500;
   font-size: 17.5px;
   line-height: 30px;
 }
 footer .menu .about li{
   margin:  -3px 0;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
 }
 footer .menu .Contact p{
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
 }
 footer .menu .Contact p:first-child{
   font-size: 17.5px;
   font-weight: 500;
   line-height: 30px;
 }
 footer .icons{
   height: 160px;
   position: relative;
 }
 footer .icons .allicon{
   width: 100%;
   position: absolute;
   left: 0;
   top: 110px;
 }
 footer .icons .allicon div{
     padding: 11px;
     background-color: #FFFFFF;
     border-radius: 50%;
     font-size: 13px;
 }
 footer .icons i{
   color: rgba(0, 0, 0, 1);
 }
 footer .Copyright{
   width: 100%;
   border-top: 0.8px solid rgba(210, 210, 210, 1);
   text-align: center;
 }
 footer .Copyright p{
   margin-top: 29px;
   font-size: 13px;
 }
 footer .Copyright span{
   font-weight:900;
   font-size: 14.5px;
 }






