/* 1. don't modify this style */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
  --secondary: #FA8305;
  --blueGradiant: #3B2A9F;
  --box_bg: #1C140F;
  --primary-100: #5141AA;

}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

/* good luck */
body{
  background-color: var(--blueGradiant);
  font-family: Poppins;
  
}
a{
  text-decoration: none;
  color: white;
}
header{
  height: 100px;
}
.logo{
  font-weight: 800;
  font-size: 29px;
  color: white;
  margin-top: 25px;
  margin-left: 58px;
  line-height: 44px;
}
header .menu{
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: white;
  width: 637px;
  position: absolute;
  top: 32px;
  right: 60px;
  line-height: 44px;
}
header .menu .one a{
  margin: 4%;
  color: white;
}
header .menu .two{
  background-color: var(--secondary);
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 25px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 19.5px;
}
.proved .first .one{
  color: var(--secondary);
  font-size: 20px;
}
.proved{
  width: 537px;
  height: 510px;
  margin-left: 148px;
  margin-top: 103px;
  font-weight: 700;
  color: white;
}
.proved .first .two{
  font-size: 50px;
  line-height: 77px;
  margin-top: 17px;
}
.proved .first .three{
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 26px;
}
.proved .seconde{
  margin-top: 48px;
  background-color: var(--secondary);
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  width: 195px;
  line-height: 24px;
}


